global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'flask-app'
    static_configs:
      - targets: ['webapp:5000']
    metrics_path: '/metrics'
    scrape_interval: 10s
