---
- hosts: dns_servers
  become: true
  gather_facts: true
  roles:
    - role: dns
      tags: [untagged, my_dns]

- hosts: web_servers
  become: true
  gather_facts: true
  roles:
    - role: nginx
      tags: [nginx]
