$TTL {{ dns_ttl }}
@   IN    SOA   ns.{{ dns_zone_name }}. root.{{ dns_zone_name }}. (
      {{ dns_soa_serial | default('2025011601') }} ; serial
      {{ dns_soa_refresh | default(3600) }}       ; refresh
      {{ dns_soa_retry | default(900) }}          ; retry
      {{ dns_soa_expire | default(604800) }}        ; expire
      {{ dns_soa_minimum | default(86400) }} )     ; minimum

@       IN    NS     ns.{{ dns_zone_name }}.
ns      IN    A      {{ dns_server_ip }}
@       IN    A      {{ dns_server_ip }}
{{ dns_a_record_fqdn.split('.')[0] }}    IN    A      {{ dns_server_ip }}
