---
- name: Join Workers
  hosts: k8s_workers
  become: yes
  tasks:
    - name: Reset worker
      shell: kubeadm reset -f && rm -rf /etc/cni/net.d
      ignore_errors: yes

    - name: Join to cluster
      shell: "{{ hostvars['k8s-master']['join_command'] }} --ignore-preflight-errors=Swap"
