---
- name: Configure Network
  import_playbook: 00-configure-network.yml

- name: Prepare all nodes
  import_playbook: 01-prepare-nodes.yml

- name: Initialize master
  import_playbook: 02-init-master.yml

- name: Join workers
  import_playbook: 03-join-workers.yml
